extends ../layout

mixin eventView(event)
	h2
		a(href='') #{event.title}
	p= event.location
	p= event.when
	- descriptionParas = event.description.split('\n')
	each para in descriptionParas
		p= para
	each media in event.media
		ul
			li
				p= media.description
				p= media.usage
	form(method='POST' action=`/admin/event/${event.id}/delete`)
		div
			button(type='submit') Delete

block content

	if error
		p Error fetching content.
	else if events.length
		h1 Events:

		each event in events
			+eventView(event)
	else
		p No events.
