extends ../layout

mixin mediaView(media)
	h2
		a(href='') #{media.description}
	p= media.link_text
	p= media.type
	p= media.name
	form(method='POST' action=`/admin/media/${media.id}/delete`)
		div
			button(type='submit') Delete

block content

	if error
		p Error fetching content.
	else if media.length
		h1 Media:

		each medium in media
			+mediaView(medium)
	else
		p No media.
