extends layout

mixin eventView(event)
	h2
		a(href=event.url) #{event.title}
	p= event.location
	p= event.when
	//- p= when(event.start, event.end)
	p= event.description
	each media in event.media
		ul
			li
				p= media.description

block content
	h1= title
	p Welcome to #[em Macmillan East Sheen].

	if error
		p Error fetching content.
	else if events.length
		p Please find our upcoming events below:

		each event in events
			+eventView(event)
	else
		p Watch this space for upcoming events.
