extends layout

mixin eventView(event)
	article.event
		div.content-container
			- const image = event.image();
			h2.title= event.title
			p.location= event.location
			p.when= event.when
			if image
				img.event-img(src=`/media/${image.id}/${image.name}`)
			- descriptionParas = event.description.split('\n')
			each para in descriptionParas
				p= para
			- const document = event.document();
			if document
				a.document(href=`/media/${document.id}/${document.name}`) #{document.link_text}

block content
	section.content

		if error
			p Error fetching content.
		else if events.length
			div.contents-header
				div.content-container
					h2 Please find our upcoming events below

			section.events
				each event in events
					+eventView(event)
		else
			div.contents-header
				div.content-container
					h2 Watch this space for upcoming events
